/*
--------------
Font Imports
--------------
*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');



:root {

    --clr-primary: #8F6593;
    --clr-primary-sec-dark: #3B252C;
    --clr-primary-light: #AEA4BF;
    --clr-primary-very-light: #CDCDCD;

    /*Secondary Colors*/
    --clr-secondary-light: #B8DBD9;
    --clr-secondary-dark: #1F7A8C;

    /*Greys*/

    --clr-grey-1: #525252;
    --clr-grey-1: #8E8E8E;
    --clr-grey-1: #9F9F9F;

    --clr-white: #fff;

    /*Fonts*/

    --ff-primary: 'Noto Sans', sans-serif;
    --ff-secondary: 'Bebas Neue', cursive;

    /*Other*/
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;

    --fluid-width: 90vw;
    --max-width: 1170px;


}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto;


}

h1 {
    font-family: var(--ff-secondary);
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

/*
.section-title {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 10% 0 5% 0;
    color: var(--clr-secondary-dark);
    text-de coration: underline;
}
*/



/*Hero Banner*/
.hero {
    min-height: 50vh;
    background: var(--clr-grey-1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5% 0 5%;
    color: var(--clr-white);
}

.hero-banner {
    transition: var(--transition);
}

hr {
    width: 80%;
    color: var(--clr-white);
}

.hero-banner h6 {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
}

.hero-banner h4 {
    font-family: var(--ff-secondary);
    font-size: 2rem;
}

.hero-banner h2 {
    font-family: var(--ff-secondary);
    font-size: 3.5rem;
}


.btn {
    background-color: var(--clr-primary);
    font-weight: 800;
    color: var(--clr-white);
    text-decoration: none;
    padding: .5rem 2rem .5rem 2rem;
    text-transform: uppercase;
    border-radius: var(--radius);
    transition: var(--transition);
    cursor: pointer;
}

.btnHero:hover {
    background: var(--clr-primary);
    border: 1px solid white;
    font-weight: 300;
    padding: .5rem 2rem .5rem 2rem;

}

/*Navigation & Drop Downs*/

.topNav {
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 3rem;
    animation: ;
    justify-content: space-between;
}

.topNav p {
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 900;
    animation-name: letterRun;
    animation-duration: 30s;
    animation-iteration-count: 20;

}

#mainNav {
    background: var(--clr-secondary-dark);
    height: 5rem;
}

#shopNav {
    background: var(--clr-white);
    height: 3rem;
}

.option-text {
    text-decoration: none;
}

.options-container {
    height: 0;
    overflow: hidden;
    transition: var(--transition);
    text-align: center;
    text-transform: uppercase;
    color: var(--clr-secondary-dark);

}

.show-options {
    height: fit-content;
    transition: all 0.3s linear;
}



.section-title {
    display: flex;
    flex-direction: column;
    overflow: visible;
    align-items: center;

}

.title-select {
    display: inline-flex;
}


.btn_NA {
    padding: 5% 0 2% 0;
    width: 150px;
    background: none;
    border: none;
    color: var(--clr-secondary-dark);
    font-weight: 800;
    font-size: 1rem;
    text-transform: uppercase;
}

.icon {
    color: var(--clr-secondary-dark);
    padding-top: 4%;
}

.icon:hover {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    animation: bounce 1.5s ease-in-out;
}










/*Animations*/

@keyframes letterRun {
    0% {
        transform: translateX(20);
    }


    100% {
        transform: translateX(-300%);
    }

}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

/* Media Queries */

/*PC*/
@media screen and (min-width: 1170px) {

    .hero {
        height: 80vh;
        background: linear-gradient(rgb(44, 174, 186, 0.7), rgba(0, 0, 0, 0.7)), url(../img/portrait-fashionable-woman-wearing-sunglasses-2022-03-30-20-23-46-utc.jpg) center/cover no-repeat;
    }

    .hero-banner h6 {
        font-size: 3rem;
    }

    .hero-banner h4 {

        font-size: 6rem;
    }

    .hero-banner h2 {

        font-size: 10rem;
    }

    .titleLine {
        visibility: none;
    }

}


/*Tablet*/
@media screen and (min-width: 768px) {

    .hero {
        min-height: 50vh;
        background-color: #0473f3;

    }

    .titleLine {
        width: 50px;
    }

    .icon {
        visibility: hidden;
    }



    .toggleDD:before,
    .toggleDD:after {
        color: var(--clr-secondary-dark);
        content: "";
        display: inline-block;
        width: 250px;
        margin: 0 3em 0 -55%;
        vertical-align: middle;
        border-bottom: 1px solid;
    }

    .toggleDD:after {
        margin: 0 -55% 0 3em;
    }

    .options-container {


        display: flex;
        flex-direction: column;
        overflow: visible;
        align-items: center;
    }

    .option {
        display: inline-flex;
        font-size: 0.9rem;
        margin: 0 3px;
    }

    .title-select {
        text-align: center;
    }

}